@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  background-image: url('background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.green {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4s;
}

a{
  text-decoration: none;
  color: rgb(131, 131, 131);
  transition: 0.4s;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(180, 1%, 75%, 0.2);
  }
} */

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
